$modra: hsl(200, 68%, 22%);
$oranzova: #D47A43;
$hneda: #462521;
$zluta: #FAF0CA;
$seda: #333333;
$input-focus-border-color: #462521;
$input-focus-box-shadow: 0px 0px 5px #462521;

@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=MuseoModerno:wght@700&display=swap');

body {
    background-color: tint-color($modra,90%);
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    padding-top: 80px;
}

/* navigace */
nav {
    margin-bottom:100px;
    box-shadow: 0 3px 3px $seda;
}
.navbar-dark {
    background-color: $modra;    
}

.navbar-text, .navbar-brand {
    color: #fff;
}

.navbar .navbar-tlacitko {    
    padding-left: 1.1rem;
    margin: 0px 10px;
    transition: none !important;
    border: 1px solid $modra;
}

.navbar .navbar-tlacitko:hover {
    background-color: tint-color($modra,30%);
    border: 1px solid white;
    color: white;
    transition: none !important;
}


.navbar .active {
    background-color: tint-color($modra,10%);
    border: 1px solid white;
    color: white;
}

.navbar span {
    font-family: 'MuseoModerno', cursive;
    padding: 0px;
    margin: 0px;
}
/* navigace */

section {
    background-color: white;
    border-radius: 20px;
    box-shadow: tint-color($modra, 80%) 2px 2px;
}

.portret {
    max-width: 400px;
    width: 100%;
}
/* uvod */

.tlacitko-oranzove {
    border: 2px solid $oranzova;
    border-radius: 0px;
    background-color: tint-color($oranzova, 90%);
}

.tlacitko-oranzove:hover {
    border: 2px solid $oranzova;
    border-radius: 0px;
    font-weight: bold;
    background-color: tint-color($oranzova, 30%);
    color: $black;
}

.tlacitko-oranzove:active {
    border: 2px solid $oranzova;
    border-radius: 0px;
    font-weight: bold;
    background-color: tint-color($oranzova, 30%);
    color: $black;
}

h2 {
    font-size: 2.5rem;
}

.ikony-velke{
    font-size: 4rem;
    color: $hneda;
}

.ikony-velke:hover{    
    opacity: 0.8;
}

.card {
    box-shadow: grey 1px 1px;
}

.mensi-text{
    font-size: 0.8rem;
}

// Carousel

@keyframes text-fade0 {
    0% {
        color: transparent;  
        font-size: 98%;      
    }
    17% {
        color: black; 
        content: 'hudba';
        font-size: 100%;       
    }
    34% {
        color: transparent; 
        font-size: 98%;             
    }
    51% {
        color: black;  
        content: "hra na piano";
        font-size: 100%;           
    }
    68% {
        color: transparent; 
        font-size: 98%;       
    }
    84% {
        color: black;
        content: 'hra na akordeon';
        font-size: 100%;
    } 
    100% {
        color: transparent; 
        font-size: 98%;       
    }  
    
}

@keyframes text-fade1 {
    0% {
        color: transparent;  
        font-size: 98%;      
    }
    17% {
        color: black; 
        content: 'gastronomie';
        font-size: 100%;       
    }
    34% {
        color: transparent; 
        font-size: 98%;             
    }
    51% {
        color: black;  
        content: "asijská kuchyně";
        font-size: 100%;           
    }
    68% {
        color: transparent; 
        font-size: 98%;       
    }
    84% {
        color: black;
        content: 'vaření';
        font-size: 100%;
    } 
    100% {
        color: transparent; 
        font-size: 98%;       
    }  
    
}

@keyframes text-fade2 {
    0% {
        color: transparent;  
        font-size: 98%;      
    }
    17% {
        color: black; 
        content: 'deskové hry';
        font-size: 100%;       
    }
    34% {
        color: transparent; 
        font-size: 98%;             
    }
    51% {
        color: black;  
        content: "únikové hry";
        font-size: 100%;           
    }
    68% {
        color: transparent; 
        font-size: 98%;       
    }
    84% {
        color: black;
        content: 'šifrovačky';
        font-size: 100%;
    } 
    100% {
        color: transparent; 
        font-size: 98%;       
    }  
    
}

@keyframes text-fade3 {
    0% {
        color: transparent;  
        font-size: 98%;      
    }
    17% {
        color: black; 
        content: 'počítačové hry';
        font-size: 100%;       
    }
    34% {
        color: transparent; 
        font-size: 98%;             
    }
    51% {
        color: black;  
        content: "RPG, rougelite";
        font-size: 100%;           
    }
    68% {
        color: transparent; 
        font-size: 98%;       
    }
    84% {
        color: black;
        content: 'PC simulátory ';
        font-size: 100%;
        overflow-x: visible;
        
    } 
    100% {
        color: transparent; 
        font-size: 98%;       
    }  
    
}

.text-fade0:before,.text-fade1:before,.text-fade2:before,.text-fade3:before {
    content:"";    
    animation-duration: 15s;
    animation-timing-function: ease-in-out;    
    animation-iteration-count: infinite;      
}

.text-fade0:before {       
    animation-name:text-fade0;        
}
.text-fade1:before {       
    animation-name:text-fade1;        
}
.text-fade2:before {       
    animation-name:text-fade2;        
}
.text-fade3:before {       
    animation-name:text-fade3;        
}

// animace dovednosti
.svg-container{
    width:100%;
    height:4rem;
    position: relative;
    margin-bottom: 1rem;
}

.svg-triangle, .svg-rectangle {
    fill:$modra;       
}

.svg-text{
    position:absolute;
    top: 1.1rem;
    left: 7%;
    margin-bottom: 2rem;      
}

.svg-icon{      
    font-size: 3rem;    
    margin-top: -0.5rem;    
}

.svg-animation-rectangle{
transform: scaleX(95);
transition: transform 0.2s ease-in-out;
}

.svg-animation-triangle{
    transform: translateX(94%);
    transition: transform 0.2s ease-in-out;
}

.svg-animation-text {    
    font-weight: bolder;  
    color:white;  
}

.svg-icon-div{
    opacity:0;  
    color:$modra;  
}

.visible{
    opacity:1;
    transition: opacity 0.1s ease-in-out;    
}

@include media-breakpoint-up(md) {
    .svg-icon-div{
        color:white;
    }
}

.odkaz {
    color:$hneda;
}

.imgLogo{
    background-color:$modra;  
    width:3rem;
    margin-top: -0.5rem;
}

.vyska-radku {
    height: 3rem;
}

@include media-breakpoint-up(md) {
    #nadpis-zajmy::after{
        content:':';
    }
}



